<label>Name</label>
<%# We use the values of the author variable from the js (in case we are editing a value, and therefore it already has a name) %>
<input type="text" name="name" value=<%= author.name %>>